* {box-sizing: border-box}
body{
    background-color: #c694ff;
}
.container {
  padding: 5px;
}

input[type=text], input[type=password] ,input[type=email],input[type=number]{
 
  width: 100%;
  padding: 10px;
 border: none; 
  background: #ffb8b8;
}
hr {
  border: 1px solid #8e2cff;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
    background-color: #8e2cff;
    color: yellow;
  opacity:1;
}
a {
  color: dodgerblue;
}
#half
{
    width: 50%;
    border-radius: 10px 10px;
    margin-left: 25%;
    border: 1px solid blue;
    padding: 10px;
    background-color: rgb(196, 255, 199);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
ul{
    list-style: none;
}
td
{
    width:50%;   
}
table{
    width: 100%;  
}
.t1{
    width:50%;
    float: right;
}
select{
    box-sizing: border-box;
    font-size: large;
    background-color: #ffb8b8;
    font-family: monospace;
    width:60%;
    padding: 3px;

}
@media only screen and (max-width:880px){
    div#half{
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
    input[type=text], input[type=password] ,input[type=email],input[type=number]{
        width: 100%;
        margin-top: 2%;       
      }
      .t1{
        width:100%;
        float: left;
    }
}
